body{
    background-color: rgba(188, 121, 252, 0.527);
}
.card{
    
    width: 500px;
    height: 230px;
    box-shadow: 0px 10px rgb(65, 14, 65);
    background-color: rgba(137, 43, 226, 0.192);
    border-radius: 30px;
}
.cardd{
    justify-content: center;
    height: 180px;
    width: 15%;
    margin: 5%;
    text-align: center;
    background-color: #e682e154;
    border-radius: 30px;
    box-shadow: 0px 10px rgb(133, 35, 133);
}
.contenedor{
    width: 64%;
    height: 700px;
    display: flex;
    background-color: #806a61;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    justify-content: center;
}
.flex{
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;

}
.boton{
    width: 70px;
    height: 30px;
    border-radius: 30px;
}
.boton:hover{
    width: 80px;
    height: 40px;
    font-size: 15px;
}
#lili{
    width: 80%;

    background-color: rgba(247, 236, 250, 0.411);
    border-radius: 30px;
}